{
"preset" : [
    [
        "@babel/preset-env",{
           //los targets son las plataformas
           //donde se ejecuta el codigo final 

            "targets" : {"node" : "current"}
        }



    ]
]

}